#favClose {
  .card {
    width: 90vw;
    height: 100px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .meta{
      width: 35vw;
    }
    #rate-fav {
      border-top: none;
      .favouriteClose {
        color: #cc0e00;
      }
    }
  }
}
